@-webkit-keyframes fill {
    	from {background-color: initial;}
	to {background-color: rgba(0, 0, 0, 0.4);}
}

@keyframes fill {
	from {background-color: initial;}
	to {background-color: rgba(0, 0, 0, 0.4);}
}

@-webkit-keyframes flash {
    	from {background-color: initial;}
	to {background-color: rgba(0, 0, 0, 0.4);}
}

@keyframes flash {
	from {background-color: initial;}
	to {background-color: rgba(0, 0, 0, 0.4);}
}