@font-face {
	font-family: Digital;
	src: url(../res/Digital.ttf);
}

@-webkit-keyframes fill {
    	from {background-color: initial;}
	to {background-color: rgba(44, 84, 156, 0.7);}
}

@keyframes fill {
	from {background-color: initial;}
	to {background-color: rgba(44, 84, 156, 0.7);}
}

@-webkit-keyframes flash {
    	from {background-color: initial;}
	to {background-color: rgba(44, 84, 156, 0.7);}
}

@keyframes flash {
	from {background-color: initial;}
	to {background-color: rgba(44, 84, 156, 0.7);}
}

@media screen and (min-width: 1125px) {
	/* Large menu */
	.phone-menu {
		display: none;
		width: 0!important;
	}
}

@media screen and (max-width: 1124px) {
	/* Small menu */
	.side-bar {
		display: none;
		width: 0!important;
	}
}

@media screen and (max-width: 859px) {
	#content {
		width: 100%!important;
		margin: none!important;
		border: none!important;
	}
}
