html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("./res/Background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}

#content {
	width: 850px;
	max-width: 1200px;
	background-color: rgba(0, 134, 219, 0.8);
	position: relative;
	display: block;
	height: 100vh;
	border: 1px solid #FFF;
	border-top: none;
	border-bottom: none;
}

#main_logo {
	font-family: Digital;
	font-size: 200%;
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-open, .menu-circle {
	height: 65px;
	width: 65px;
	background-color: rgba(0, 134, 219, 0.8);
	border: 1px solid #FFF;
	border-radius: 32.5px;
}

.menu-open:hover, .menu-circle:hover {
	animation-name: fill;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.menu-open:active, .menu-circle:active {
	animation-name: flash;
	animation-duration: 0.2s;
}

.menu-circle {
	opacity: 0;
}

.phone-menu {
	text-align: center;
	position: fixed;
	height: 100%;
	width: 65px;
	top: 5px;
	right: 5px;
}

.side-bar {
	font-family: Digital;
	font-size: 150%;
	text-align: center;
	position: fixed;
	height: 100%;
	width: 225px;
	top: 0;
	background-color: rgba(0, 134, 219, 0.8);
	border: 1px solid #FFF;
	border-top: none;
	border-bottom: none;
	right: -5px;
}

.side-button {
	position: relative;
	height: 100px;
	width: 100%;
	margin-top: 10px;
	color: white;
	line-height: 100px;
	cursor: pointer;
}

.side-button:hover {
	animation-name: fill;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.side-button:active {
	animation-name: flash;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}
