html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("./res/Background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}

@media screen and (min-width:1081px) {
	.side-button {
		width: 175px;
		padding-left: 50px;
	}
}

@media screen and (max-width:1080px) {
	.side-button {
		width: 50px;
		padding-left: 30px;
	}
}

#content {
	width: 75%;
	max-width: 170px;
	background-color: rgba(0, 134, 219, 0.8);
	position: relative;
	display: block;
	float: right;
	margin: auto;
	height: 100vh;
	border: 1px solid #FFF;
	border-top: none;
	border-bottom: none;
}

#side-bar {
	position: fixed;
	height: 100%;
	width: auto;
	top: 0;
	right: -5px;
}

.side-button {
	position: relative;
	height: 100px;
	margin-top: 10px;
	background-color: rgba(0, 134, 219, 0.8);
	color: white;
	border: solid white 1px;
	border-radius: 3px;
	line-height: 100px;
}
