body {
	font-family: sans-serif;
}

h1, h2, h3 {
	font-family: Trench;
}

a {
	color: orange;
}

a:visited {
	color: tan;
}

#page {
	height: 100%;
	margin-left: 61px;
	margin-right: 80px;
	color: white;
}

#head {
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 75px;
	font-family: Trench;
}

#headshot {
	position: relative;
	width: 50%;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

#sm-buttons {
	position: relative;
	margin: auto;
	height: 100px;
	width: 505px;
}

#torsoshot, #taocse-logo {
	position: relative;
	display: block;
	width: 25%;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.meta-inf {
	display: inline-block;
	float: right;
	line-height: 2em;
}

.post {
	overflow: hidden;
	border-top: solid;
	margin-bottom: 50px;
}

.title {
	display: inline-block;
	margin: 0;
}