@font-face {
	font-family: Digital;
	src: url(../res/fonts/Digital.ttf);
}

@font-face {
	font-family: Trench;
	src: url(../res/fonts/trench.ttf);
}

@font-face {
	font-family: Sensadillo;
	src: url(../res/fonts/SensibleArmadillo.ttf);
}

@font-face {
	font-family: Scripalt;
	src: url(../res/fonts/SCRIPALT.ttf);
}

@font-face {
	font-family: Scriptin;
	src: url(../res/fonts/SCRIPTIN.ttf);
}