@-webkit-keyframes fill {
  from {background-color: initial;}
	to {background-color: rgba(255, 165, 0, 0.7);}
}

@keyframes fill {
	from {background-color: initial;}
	to {background-color: rgba(255, 165, 0, 0.7);}
}

@-webkit-keyframes flash {
  from {background-color: initial;}
	to {background-color: rgba(255, 165, 0, 0.7);}
}

@keyframes flash {
	from {background-color: initial;}
	to {background-color: rgba(255, 165, 0, 0.7);}
}
