html {
	height: 100%;
	width: 100%;
}

body {
    background: linear-gradient(to bottom right, #686868, #999999);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

iframe {
	width: 1px;
    min-width: 100%;
}

#body {
	overflow: hidden;
	width: 100%;
	padding-right: 15px;
}

#content_padding {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#content {
    position: relative;
    display: block;
    width: 850px;
    max-width: 1200px;
    background-color: rgba(0, 134, 219, 0.98);
    height: 100vh;
    margin: auto;
    border: 1px solid #FFF;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
}

#content-loader {
	position: relative;
	height: 100%;
	width: 100%;
	border: none;
	right: -17px;
}

#main-logo {
	font-family: Trench;
	font-size: 200%;
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}

#menu-items {
	margin: 0;
	padding: 0;
}

.desktop-menu {
	font-family: Trench;
	font-size: 150%;
	text-align: center;
	position: fixed;
	height: 100%;
	width: 225px;
	top: 0;
	background-color: rgba(0, 134, 219, 0.8);
	border: 1px solid #FFF;
	border-top: none;
	border-bottom: none;
	right: -5px;
}

.menu-open, .menu-circle {
	height: 65px;
	width: 65px;
	background-color: rgba(0, 134, 219, 0.9);
	border: 1px solid #FFF;
	border-radius: 32.5px;
}

.menu-open:hover, .menu-circle:hover {
	animation-name: fill;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.menu-open:active, .menu-circle:active {
	animation-name: flash;
	animation-duration: 0.2s;
}

.menu-circle {
	opacity: 0;
}

.phone-menu {
	text-align: center;
	position: fixed;
	height: 100%;
	width: 65px;
	top: 5px;
	right: 5px;
}

	.phone-menu .simple-link {
		pointer-events: none;
		cursor: default;
	}

.side-button {
	position: relative;
	height: 100px;
	width: 100%;
	margin-top: 10px;
	color: white;
	line-height: 100px;
	cursor: pointer;
}

.side-button:hover {
	animation-name: fill;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.side-button:active {
	animation-name: flash;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.simple-link {
	text-decoration: none;
}
