@media screen and (max-width: 540px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 14px;
	}

	#bg-img {
		display: none;
	}

	#right-border {
		display: none;
	}

	#content {
		padding-top: 1px;
		padding-left: 70px;
		padding-right: 20px;
	}
}